$color-brand-primary-black: #1e1e1e;
$color-brand-secundary-dark: #214668;
$color-brand-secundary-default: #3fa1d6;
$color-brand-secundary-lightest: #e3f6fc;
$color-neutral-dark-0: #09121c;
$color-neutral-dark-10: #222a33;
$color-neutral-dark-20: #3a4149;
$color-neutral-dark-30: #535960;
$color-neutral-dark-40: #6b7177;
$color-neutral-dark-50: #84888d;
$color-neutral-dark-60: #9da0a4;
$color-neutral-dark-70: #b5b8bb;
$color-neutral-dark-80: #ced0d2;
$color-neutral-dark-90: #e6e7e8;
$color-neutral-dark-98: #fafafa;
$color-neutral-dark-black: #000000;
$color-neutral-dark-white: #ffffff;
$color-neutral-dark-lightest: #fefefe;
$color-neutral-dark-darkest: #222222;
$color-neutral-dark-light: #f5f5f5;
$color-neutral-dark-dark: #666666;
$color-alternative-blue-dark: #1a357b;
$color-alternative-blue-default: #5f78be;
$color-alternative-blue-light: #c5d1f3;
$color-alternative-blue-lightest: #f4f7fe;
$color-alternative-green-dark: #2d6765;
$color-alternative-green-default: #799d9d;
$color-alternative-green-light: #b3c8c8;
$color-alternative-green-lightest: #f7f9f9;
$color-alternative-oldrose-dark: #85413f;
$color-alternative-oldrose-default: #b18584;
$color-alternative-oldrose-light: #d3bbba;
$color-alternative-oldrose-lightest: #f9f3f3;
$color-alternative-orange-dark: #be5415;
$color-alternative-orange-default: #d59169;
$color-alternative-orange-light: #e8c1ab;
$color-alternative-orange-lightest: #fcf8f6;
$color-alternative-purple-dark: #503f5f;
$color-alternative-purple-default: #8f8499;
$color-alternative-purple-light: #c0bac5;
$color-alternative-purple-lightest: #f8f7f9;
$font-size-xxxs: 12rem;
$font-size-xxs: 14rem;
$font-size-xs: 16rem;
$font-size-sm: 20rem;
$font-size-md: 24rem;
$font-size-lg: 32rem;
$font-size-xl: 40rem;
$font-size-xxl: 48rem;
$font-size-xxxl: 64rem;
$font-size-display: 80rem;
$font-size-giant: 96rem;
$font-family-highlight: 'Archivo';
$font-weight-bold: 700;
$font-weight-medium: 600;
$font-weight-regular: 400;
$border-size-none: 0rem;
$border-size-hairline: 1rem;
$border-size-thin: 2rem;
$border-size-thick: 4rem;
$border-size-heavy: 8rem;
$line-height-tight: 1;
$line-height-medium: 1.1;
$line-height-distant: 1.5;
$line-height-superdistant: 2;
$radius-size-none: 0rem;
$radius-size-sm: 8rem;
$radius-size-md: 16rem;
$radius-size-lg: 24rem;
$radius-size-pill: 500rem;
$radius-size-circular: 50rem;
$shadow-level-1-x: 0rem;
$shadow-level-1-y: 4rem;
$shadow-level-1-b: 8rem;
$shadow-level-1-stack: 0rem;
$shadow-level-2-x: 0rem;
$shadow-level-2-y: 8rem;
$shadow-level-2-b: 24rem;
$shadow-level-2-stack: 0rem;
$shadow-level-3-x: 0rem;
$shadow-level-3-y: 16rem;
$shadow-level-3-b: 32rem;
$shadow-level-3-stack: 0rem;
$shadow-level-4-x: 0rem;
$shadow-level-4-y: 16rem;
$shadow-level-4-b: 48rem;
$shadow-level-4-stack: 0rem;
$opacity-level-semiopaque: 0.80;
$opacity-level-intense: 0.64;
$opacity-level-medium: 0.32;
$opacity-level-light: 0.16;
$opacity-level-semitransparent: 0.08;
$spacing-size-quarck: 4rem;
$spacing-size-nano: 8rem;
$spacing-size-xxxs: 16rem;
$spacing-size-xxs: 24rem;
$spacing-size-xs: 32rem;
$spacing-size-sm: 40rem;
$spacing-size-md: 48rem;
$spacing-size-lg: 56rem;
$spacing-size-xl: 64rem;
$spacing-size-xxl: 80rem;
$spacing-size-xxxl: 120rem;
$spacing-size-huge: 160rem;
$spacing-size-giant: 200rem;
$spacing-squish-size-quarck-v: 4rem;
$spacing-squish-size-quarck-h: 8rem;
$spacing-squish-size-quarck-stack: 4rem;
$spacing-squish-size-nano-v: 8rem;
$spacing-squish-size-nano-h: 16rem;
$spacing-squish-size-nano-stack: 8rem;
$spacing-squish-size-xs-v: 16rem;
$spacing-squish-size-xs-h: 24rem;
$spacing-squish-size-xs-stack: 16rem;
$spacing-squish-size-sm-v: 16rem;
$spacing-squish-size-sm-h: 32rem;
$spacing-squish-size-sm-stack: 16rem;
