  <div class='row justify-content-around flex-column tooltip-show'>
    <h2>Top</h2><br>
    <div class='row justify-content-around'>
      <div class='row'>
        <sb-tooltip position="top-left" text="Faça">
          <a href="#">um texto</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="top" text="Faça">
          <a href="#">um texto</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="top-right" text="Faça">
          <a href="#">um texto</a>
        </sb-tooltip>
      </div>
    </div>
    <h2>bottom</h2>
    <div class='row justify-content-around'>
      <div class='row'>
        <sb-tooltip position="bottom-left" text="Faça">
          <a href="#">um texto</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="bottom" text="Faça">
          <a href="#">um texto</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="bottom-right" text="Faça">
          <a href="#">um texto</a>
        </sb-tooltip>
      </div>
    </div><br>
    <h2>left/right</h2>
    <div class='row justify-content-around'>
      <div class='row'>
        <sb-tooltip position="left" text="Faça">
          <a href="#">um texto</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="right" text="Faça">
          <a href="#">um texto</a>
        </sb-tooltip>
      </div>
    </div>
  </div>
  <hr>
  <div class='row justify-content-around flex-column tooltip-show'>
    <h2>Top</h2><br><br><br>
    <div class='row justify-content-around'>
      <div class='row'>
        <sb-tooltip position="top-left" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior do que o anterior</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="top" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior do que o anterior</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="top-right" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior do que o anterior</a>
        </sb-tooltip>
      </div>
    </div>
    <h2>bottom</h2>
    <div class='row justify-content-around'>
      <div class='row'>
        <sb-tooltip position="bottom-left" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior do que o anterior</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="bottom" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior do que o anterior</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="bottom-right" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior do que o anterior</a>
        </sb-tooltip>
      </div>
    </div><br><br><br>
    <h2>left/right</h2>
    <div class='row justify-content-around'>
      <div class='row'>
        <sb-tooltip position="left" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior do que o anterior</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="right" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior do que o anterior</a>
        </sb-tooltip>
      </div>
    </div>
  </div>
  <hr>

  <div class='row justify-content-around flex-column tooltip-show'>
    <h2>Top</h2><br><br><br>
    <div class='row justify-content-around'>
      <div class='row'>
        <sb-tooltip position="top-left" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior <br>do que o anterior</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="top" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior <br>do que o anterior</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="top-right" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior <br>do que o anterior</a>
        </sb-tooltip>
      </div>
    </div>
    <h2>bottom</h2>
    <div class='row justify-content-around'>
      <div class='row'>
        <sb-tooltip position="bottom-left" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior <br>do que o anterior</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="bottom" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior <br>do que o anterior</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="bottom-right" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior <br>do que o anterior</a>
        </sb-tooltip>
      </div>
    </div><br><br><br>
    <h2>left/right</h2>
    <div class='row justify-content-around'>
      <div class='row'>
        <sb-tooltip position="left" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior <br>do que o anterior</a>
        </sb-tooltip>
      </div>
      <div class='row'>
        <sb-tooltip position="right" text="Faça uma busca de contas inserindo dados bancários ou informações de contato">
          <a href="#">um texto maior <br>do que o anterior</a>
        </sb-tooltip>
      </div>
    </div>
  </div>
